*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aqua;
}
.container{
   background:black;

}
.navbar input {
 border-radius: 5px;   
 border-color:  solid 2px black;
 margin-top: 5px;
}
.navbar a{
    
}